#menu
  = link_to t("links.menu.freebies"), freebies_path, :class => (params[:controller] == "freebies" ? "selected" : nil)
  = link_to t("links.menu.resellers"), resellers_path, :class => (params[:controller] == "resellers" || params[:controller] == "purchase_expectations" ? "selected" : nil)
  = link_to t("links.menu.contact"), contact_path, :class => (params[:controller] == "general" && params[:action] == "contact" ? "selected" : nil)
  = link_to t("links.menu.faq"), faq_path, :class => (params[:controller] == "general" && params[:action] == "faq" ? "selected" : nil)
  .clear 
