%p
  - if @order
    = image_tag @order.freebie.image.url(:normal)
  - else
    = image_tag "normal/missing.png"
  A
  %b= @order ? @order.reseller.name : "Quavio"
  resgatou um(a)
  %b= @order ? @order.freebie.title : "Boné"
