%p
  O cadastro da revenda
  %b= @user ? @user.reseller.name : "Quavio"
  foi alterado:
%p
  Nome do responsável:
  %b= @user ? @user.name : "Nícolas"
%p
  Telefone:
  %b= @user ? @user.phone : "51 9999-9999"
