%p Olá #{@resource.email}!
%p Alguém requisitou um link para alterar a sua senha, e você pode fazer isso através do link abaixo:
%p= link_to 'Trocar senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Se você não requisitou isso, por favor ignore este e-mail.
%p Sua senha não vai mudar até que você acesse o link acima e crie uma nova.
