%table{:width => "100%", :bgcolor => "#00823c"}
  %tr
    %td{:height => "10px"}
  %tr
    %td
      %table{:align => "center", :cellpadding => "10px"}
        %tr
          %td{:width => "600px", :bgcolor => "white"}
            = yield
  %tr
    %td{:height => "10px"}
